<div class="card">
    <div class="card-header">
        DATOS DE CLIENTE
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Razon Social</th>
                    <th>Direccion</th> 
                    <th>Telefono</th>  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of productos; let control=index">
                    <td>{{dato.idcliente}}</td>
                    <td>{{dato.razonsocial}}</td>
                    <td>{{dato.direccion}}</td> 
                    <td>{{dato.telefono}}</td>  
                </tr>
            </tbody>
        </table>
    </div>
</div>