<nav class="nav justify-content-center|justify-content-end" 
style="color: rgb(136, 37, 136); background-color: rgb(34, 34, 80); font-style: italic;font-family: 'Times New Roman', Times, serif;">
    <a class="nav-link" routerLink="validar">VALIDAR CEDULA</a> 
    <a class="nav-link" routerLink="ingresar">AGREGAR CLIENTE</a>
    <a class="nav-link" routerLink="vercliente">VER CLIENTE</a>
    <a class="nav-link" routerLink="factura">REALIZAR FACTURA</a>
    <a class="nav-link" routerLink="verfact">VER FACTURA</a>
    <a class="nav-link" routerLink="verdetallef">VER DETALLE FACTURA</a>
    <a class="nav-link" routerLink="aggprod">AGREGAR PRODUCTO</a>
    <a class="nav-link" routerLink="verprod">VER PRODUCTOS</a>
</nav>
 <router-outlet></router-outlet> 
 